/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*
 * animaciones
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.fast {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


/*
 * textos colores fondo
 */
.fw700 {
  font-weight: 700 !important;
}
.fw500 {
  font-weight: 500 !important;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 20px auto 8px;
  border-radius: 10%;
  background: url("/assets/img/logo.png") no-repeat;
  background-size: 100%;
}

.mayusculas {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.negrilla {
  font-weight: bold;
}
.nav {
  //box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
  //  0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  text-align: left;
  background: linear-gradient(
      to bottom,
      rgba(253, 253, 253, 0.9) 0%,
      rgba(253, 253, 253, 0.9) 80%
    ),
    url("/assets/img/sidebar.jpg");
  background-repeat: no-repeat;
  border-radius: 3px;
  color: #3c4858;
  opacity: 0.93;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #fffc48 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-link-blue {
  color: #3880ff !important;
}
.text-dark-blue {
  color: #1c457a !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-dark-gray {
  color: #424242 !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #43beac !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-indigo {
  color: #4b0082 !important;
}
.text-amber {
  color: #ffbf00 !important;
}
.text-coffee {
  color: #a07659!important;
}
.text-custom {
  color: #9ca3c0!important;
}
.text-muted {
  color: #898c91 !important;
}
.text-primary {
  color: var(--ion-color-primary) !important;
}
.text-tertiary {
  color: var(--ion-color-tertiary) !important;
}
.text-secondary {
  color: var(--ion-color-secondary) !important;
}
/*Tamaño de letra*/
.text-8pt {
  font-size: 8pt;
}
.text-9pt {
  font-size: 9pt;
}
.text-10pt {
  font-size: 10pt;
}
.text-11pt {
  font-size: 11pt;
}
.text-12pt {
  font-size: 12pt;
}
.text-14pt {
  font-size: 14pt;
}

.hr {
  border-width: 1px;
  color: #9ca3c0;
  height: 0;
}

.width100{
  width: 100%;
}

.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-indigo {
  background-color: #4b0082 !important;
}
.bg-amber {
  background-color: #ffbf00 !important;
}
.bg-coffee {
  background-color: #a07659!important;
}
.bg-transparente{
  --background: transparent;
}
/**Ancho de Etiquetas en seleccion Radio*/
.alert-radio-label.sc-ion-alert-md {
  padding-left: 52px;
  padding-right: 26px;
  padding-top: 13px;
  padding-bottom: 13px;
  flex: 1;
  color: var(--ion-color-step-850, #262626);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.alert-radio-label.sc-ion-alert-ios {
  padding-left: 52px;
  padding-right: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  color: var(--ion-color-step-850, #262626);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: pre-line;
}
.hr {
  border-width: 1px;
  color: rgba(var(--ion-color-medium-rgb), 0.3);
  height: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}
/**Poder seleccionar pantalla */
body {
  -webkit-user-select: text;
  user-select: text;
}

/**Menus con imagenes*/
$image-size: 90px;

.header-md::after {
  background-image: none;
}
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

ion-content {
  --background: #F9F9F9; //fafafa  f4f5f8
}
.content-bg {
  background: #F9F9F9;  //fafafa f4f5f8
}

.bg-primary {
  background-color: var(--ion-color-primary);
}
.bg-secondary {
  background-color: var(--ion-color-secondary);
}
.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}


.border-bottom {
  border-bottom: 1px solid #cecece !important;
}
.border-bottom-soft {
  border-bottom: 1px solid #e6e7e9 !important;
}
.border-top {
  border-top: 1px solid #cecece !important;
}

.border-danger {
  border-color: var(--ion-color-danger) !important;
}
.border-primary {
  border-color: var(--ion-color-primary) !important;
}
.border-tertiary {
  border-color: var(--ion-color-tertiary) !important;
}
.border-white {
  border-color: #fafafa !important;
}

.button-vertical-align {
  position: absolute;
  top: calc(50% - 12.2px);
}
.button-left {
  right: 0px;
}
.button-right {
  left: 0px;
}

.image-square {
  background-color: #cecece;
  border: 2px solid #fafafa;
  display: block;
  height: $image-size;
  margin: 0 auto;
  width: $image-size;
}

.image-round {
  background-color: #cecece;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
  display: block;
  height: $image-size;
  margin: 0 auto;
  width: $image-size;
}
.image-over-div {
  margin-top: -($image-size/ 2);
}

.margin-top {
  margin-top: 10px;
}

.position-relative {
  position: relative;
}

.text-bold {
  font-weight: bold;
}


.text-statics-big {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}


.card-grid {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  ion-row {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    ion-col {
      --padding-start: 4px;
      --padding-end: 4px;
      --padding-top: 5px;
      --padding-bottom: 4px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 5px;
      padding-bottom: 4px;
      img {
        height: 40px;
        background-size: 100%;
        margin: 0 auto;
        padding-bottom: 4px;
      }
      p {
        font-size: 11pt;
        font-weight: "bold";
      }
      &.active {
        ion-card-content {
          background: var(--ion-color-tertiary-shade);
          color: var(--ion-color-tertiary-contrast);
        }
      }
    }
  }
}

.shadow {
  box-shadow: 0px 7px 25px -4px rgb(112, 109, 112);
}

/*Fondo verde azul */
.bg-gradient {
  background: linear-gradient(90deg, rgba(57,184,182) 0%, rgb(57, 138, 184) 100%);
  background-image: linear-gradient(90deg, rgba(57,184,182) 0%, rgba(57, 138, 184) 100%);
  --background: linear-gradient(90deg, rgba(57,184,182) 0%, rgba(57, 138, 184) 100%);
}

.centrar{
  text-align: center;
}