.bannerFondo {
    background: linear-gradient(90deg, rgba(57,184,182, 0.1) 0%, rgba(239, 249, 255, 0.1) 100%), url("../../../../../assets/svg/home.svg") rgb(255, 255, 255);
    background-repeat: no-repeat;
    height: calc(100% - 350px);
    width: 100%;
    background-size:100% 100%;
    overflow: hidden;
    opacity: 0.93;
  }
  
  ion-thumbnail { 
    --size: 90%;
  }
  
  .img {
    height: 100%;
    width: 100%;
    background-size:100% 100%;
  }
  
  
  .list-transactions {
    background: none;
    --background: none;
  
    ion-item {
        border-radius: 10px;
        margin-bottom: 10px;
        --padding-start:10px;
    }
  }