<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentarActionSheet()">
        <ion-icon name="more" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="bannerFondo"></div>

 

  <ion-item-divider class="bg-gradient">
    <div class="ion-text-center text-12pt text-white width100">
      <span>Bienvenido al <strong>Sistema de Gestión de Cotizaciones</strong></span>
    </div>
  </ion-item-divider>

<div class="ion-padding">

  <ion-list class="list-transactions" lines="none">
    <ion-item>
      <div slot="start">
        <fa-icon class="fa-2x text-primary" icon="building"></fa-icon>
      </div>
      <ion-label text-wrap>
        <h2>PRODUQUIMIC</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <div slot="start">
        <fa-icon class="fa-2x text-primary" icon="user-circle"></fa-icon>
      </div>
      <ion-label text-wrap>
        <h2>DIEGO JACOME</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <div slot="start">
        <fa-icon class="fa-2x text-primary" icon="user"></fa-icon>
      </div>
      <ion-label text-wrap>
        <h2>VENDEDOR</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <div slot="start">
        <fa-icon class="fa-2x text-primary" icon="calendar"></fa-icon>
      </div>
      <ion-label text-wrap>
        <h2>21 DE JULIO DEL 2020</h2>
      </ion-label>
    </ion-item>
  </ion-list>


</div>

</ion-content>