ion-item {
    --ion-background-color: transparent !important;
  }
  
  ion-toolbar {
    --ion-background-color: transparent !important;
  }
  
  ion-list {
    --ion-background-color: transparent !important;
  }
  
  ion-card img { width: 90px; height: 100px; }



  