ion-item {
    --ion-background-color: transparent !important;
  }
  
  ion-toolbar {
    --ion-background-color: transparent !important;
  }
  
  ion-list {
    --ion-background-color: transparent !important;
  }
  
  ion-card img { width: 90px; height: 100px; }


  .imagen {
    width: 70px;
    height: 80px;
    /* Imagen centrada y colocada de forma elegante */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
