ion-list {
  --background: transparent;
  --ion-color-base: transparent !important;
}
ion-item {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-label {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
