<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Crear Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-nota [opciones]="listaBreadcrumb"></app-nota>
  <p-toast></p-toast>

  <form [formGroup]="form">
    <ion-card class="bg-white">
      <ion-card-content>

        <ion-row>
          <ion-col size="8" size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12">
            <div class="ui-fluid">
              <ion-row>
                <ion-col class="p-field" size="12">
                  <ion-label position="stacked" class="text-muted">Nombres y Apellidos </ion-label>
                  <input class="mayusculas" type="text" formControlName="NOMBRE_USUA" pInputText>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="p-field" size="6">
                  <ion-label position="stacked" class="text-muted">Nick</ion-label>
                  <input type="text" formControlName="LOGIN_USUA" pInputText>
                </ion-col>
                <ion-col class="p-field" size="6">
                  <ion-label position="stacked" class="text-muted">Perfil</ion-label>
                  <p-dropdown formControlName="COD_PERF" [options]="comboPerfiles"></p-dropdown>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="p-field" size="6">
                  <ion-label position="stacked" class="text-muted">Email</ion-label>
                  <input type="email" formControlName="CORREO_USUA" pInputText>
                </ion-col>
                <ion-col class="p-field" size="6">
                  <ion-label position="stacked" class="text-muted">Teléfono</ion-label>
                  <input type="tel" formControlName="TELEFONO_USUA" pInputText>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="p-field" size="6">
                  <ion-label position="stacked" class="text-muted">Activo</ion-label>
                  <br>
                  <p-checkbox formControlName="ACTIVO_USUA" [binary]="true"></p-checkbox>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col size="4" size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
            <div class="vertical-padding">
              <ion-grid>
                <ion-row>
                  <img src="/assets/svg/usuario.svg" alt="Avatar de usuario" height="160">
                </ion-row>
                <ion-row align-items-center class="ion-padding-top">
                  <ion-col col-12 align-self-center text-center>
                    <ion-button color="secondary" size="small" [disabled]="ejecutando">Seleccionar Foto</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>


      </ion-card-content>
      <ion-row class="ion-padding-top">
        <ion-toolbar color="light" class="ion-padding-horizontal">
          <ion-button [disabled]="!form.valid || ejecutando" (click)="crear()">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            <ion-label>GUARDAR</ion-label>
          </ion-button>
        </ion-toolbar>

      </ion-row>
    </ion-card>
  </form>
</ion-content>