
<ion-content class="bg-image no-scroll" padding center>
  <ion-slides [options]="sliderOpts">
    <ion-slide>
      <ion-grid fixed>
        
        <ion-row>
          <ion-col>
            <div padding-horizontal text-center class="animated fadeInDown">
              <div class="logo"></div>
            </div>
          </ion-col>
        </ion-row>
        
        <form padding-horizontal text-center #form="ngForm" (ngSubmit)="login(form)" method="post">
          <ion-row justify-content-center align-items-center class="alinear-centro">
            <ion-col size="6">

              <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-input type="text" placeholder="Usuario" ngModel #usuario="ngModel" name="usuario" required>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-icon name="lock" slot="start"></ion-icon>
                <ion-input type="password" placeholder="Clave" ngModel #clave="ngModel" name="clave" required>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center align-items-center class="alinear-centro">
            <ion-col size="6">
              <ion-button type="submit" [disabled]="form.form.invalid" icon-left size="medium" expand="full"
                shape="round" color="primary" style="margin-top: 30px;">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <ion-label>
                  Ingresar
                </ion-label>

              </ion-button>

            </ion-col>
          </ion-row>
        </form>
        
      </ion-grid>
    </ion-slide>


  </ion-slides>

</ion-content>
