<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Validez Cotización
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <app-nota [opciones]="listaBreadcrumb"></app-nota>
  <p-toast></p-toast>
  <ion-card class="bg-white">
  <ion-toolbar>
      <ion-item>
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-input type="text" placeholder="Buscar..." (input)="dt.filterGlobal($event.target.value, 'contains')">
          </ion-input>
      </ion-item>
      <ion-buttons slot="end">
          <ion-button icon-left color="success" (click)="crear()" fill="solid">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>
                  INSERTAR
              </ion-label>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-padding-top">
      <p-table #dt [value]="respuesta.datos" tableStyleClass="prime-table" [paginator]="true" [rows]="10"
          [globalFilterFields]="['NOMBRE_VACO']" [responsive]="true" [resizableColumns]="true"
          columnResizeMode="expand">

          <ng-template pTemplate="caption" *ngIf="buscando">
              <ion-row align-items-center>
                  <ion-col col-12 align-self-center text-center>
                      <ion-spinner name="crescent"></ion-spinner>
                  </ion-col>
              </ion-row>
          </ng-template>

          <ng-template pTemplate="header">
              <tr>
                  <th [style]="{'width': 'auto'}">NOMBRE</th>
                  <th [style]="{'width': 'auto'}">ACTIVO</th>
                  <th style="width: 8em"></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-fila>
              <tr>
                  <td>{{fila.NOMBRE_VACO}}</td>
                  <td class="centrar align-content-center"> <p-checkbox disabled="true" [binary]="true" [(ngModel)]="fila.ACTIVO_VACO" ></p-checkbox> </td>
                  <td>
                      <ion-buttons slot="end">
                          <ion-button icon-left color="primary" (click)="modificar(fila)">
                              <ion-icon name="create"></ion-icon>
                          </ion-button>
                          <ion-button icon-left color="danger" (click)="confirmarEliminar(fila)">
                              <ion-icon name="close-circle"></ion-icon>
                          </ion-button>
                      </ion-buttons>
                  </td>
              </tr>
          </ng-template>
      </p-table>
  </ion-row>
</ion-card>
</ion-content>