<ion-tabs>
  <ion-tab-bar slot="bottom" tabsHighlight="true">
    <ion-tab-button tab="inicio" (click)="clickTab('inicio')">
      <fa-layers size="2x">
        <fa-icon
          [ngClass]="{'text-primary': seleccionado === 'inicio', 'text-dark-gray': seleccionado !== 'inicio'}"
          [icon]="['fas', 'home']"
        ></fa-icon>
      </fa-layers>
    </ion-tab-button>

    <ion-tab-button tab="agenda" (click)="clickTab('agenda')">
      <fa-layers size="2x">
        <fa-icon
          [ngClass]="{'text-primary': seleccionado === 'agenda', 'text-dark-gray': seleccionado !== 'agenda'}"
          [icon]="['far', 'calendar-alt']"
        ></fa-icon>
      </fa-layers>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones" (click)="clickTab('notificaciones')">
      <fa-layers size="2x">
        <fa-icon
          [ngClass]="{'text-primary': seleccionado === 'notificaciones', 'text-dark-gray': seleccionado !== 'notificaciones'}"
          [icon]="['far', 'bell']"
        ></fa-icon>
        <fa-layers-counter
          *ngIf="numNotificaciones > 0"
          [content]="numNotificaciones"
          class="fa-lg"
        ></fa-layers-counter>
      </fa-layers>
    </ion-tab-button>

    <ion-tab-button tab="usuario" (click)="clickTab('usuario')">
      <fa-layers size="2x">
        <fa-icon
          [ngClass]="{'text-primary': seleccionado === 'usuario', 'text-dark-gray': seleccionado !== 'usuario'}"
          [icon]="['far', 'user']"
        ></fa-icon>
      </fa-layers>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
